.main-section {

    .wrapper-1 {
        box-shadow: 0px -15px 15px -10px rgba(0, 0, 0, .85);
        -webkit-box-shadow: 0px -15px 15px -10px rgba(0, 0, 0, .85);
        -moz-box-shadow: 0px -15px 15px -10px rgba(0, 0, 0, .85);
        background-color: #212529;
        text-align: center;
        height: 100vh;
        display: table;
        width: 100%;



        hr {
            border: 0;
            margin-top: 30px;
            margin-bottom: 30px;
            height: 1px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #f8f9fa, rgba(255, 255, 255, 0));
        }

        .text-title {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: 3.5rem;
            line-height: 3.7rem;
            font-weight: 600;
            color: #f8f9fa;
            transition: font-size 0.4s;
        }

        .text-detail {
            font-size: 2rem;
            color: #e9ecef;
            line-height: 2.3rem;
            transition: font-size 0.4s;
        }

        @include media("<desktop") {
            .text-title {
                font-size: 2.5rem;
                line-height: 2.7rem;
                font-weight: 600;
                color: #f8f9fa;
            }
            .text-detail {
                padding-left: 1.7rem;
                padding-right: 1.7rem;
            }
        }


    }

    .wrapper-2 {
        background-color: #f06595;
        height: 100vh;
        display: table;
        width: 100%;

        .column {
            width: 33%;
            padding: 2rem;
            &.left {
                padding-right: 0;
                float: left;
            }
            &.center {
                display: inline-block;
            }
            &.right {
                padding-left: 0;
                float: right;
            }
        }

        
        .box {
            position: relative;
            width: 100%;
            background-color: white;
            border-radius: 2px;;
            text-align: center;
             box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            .badge {
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #d6336c!important;
            }
            .title {
                padding-top: 5rem;
                padding-bottom: 1rem;
                font-size: 2rem;
                font-weight: 300;
                color: #fff0f6;
                background-color: #a61e4d;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px; 
            }

            .body {
                height: 17rem;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 1rem;
                
                font-size: 1.5rem;
                text-align: left;
                font-weight: 400;
                color: #495057;
                line-height: 2.4rem;
                display: table;
                padding-top: 1rem;
                span {
                    display: table-cell;
                }
            }
        }
    }

    .wrapper-3 {
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        height: 100vh;
        display: table;
        h1 {
            color: #f8f9fa;
            font-weight: 600;
            font-size: 3rem;
            padding-bottom: 2rem;
        }
        p {
            color: #dee2e6;
            font-size: 1.5rem;

            font-weight: 400;
        }
        button {
            margin-top: 3rem;
            color: white;
        }
    }

    .contents {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }


    @include media(">=desktop") {
        .wrapper-2 {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }

    @include media("<desktop") {
        .wrapper-2 {

            .box .body {
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: 1.3rem;
                line-height: 1.7rem;
                height: 13rem;
            }
        }
    }

    @include media("<tablet") {
        .wrapper-2 {
            height: auto;
            padding-top: 5rem;
            padding-bottom: 5rem;
            .column {
                width: 100%;
                &.left {
                    padding: 2rem;
                    float: none;
                }
                &.center {
                    margin-top: 3rem;
                    padding: 2rem;
                    margin-bottom: 3rem;
                }
                &.right {
                    padding: 2rem;
                    float: none;
                }
            }
        }

        .wrapper-3 {
            h1 {
                font-size: 2.2rem;
            }
            p {
                font-size: 1.1rem;
                padding-left: 3%;
                padding-right: 3%;

            }
        }
    }





    


    
    /*font-family: 'Open Sans';
    color: #2c3e50;
    text-align: center;
    box-shadow: 0px -15px 15px -10px rgba(0, 0, 0, .85);
    -webkit-box-shadow: 0px -15px 15px -10px rgba(0, 0, 0, .85);
    -moz-box-shadow: 0px -15px 15px -10px rgba(0, 0, 0, .85);
    background-color: #ecf0f1;
    border-top: 1px solid #2c3e50;
    .wrapper {
        display: inline-block;
    }
    hr {
        border: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2c3e50, rgba(0, 0, 0, 0));
    }
    .text-title {
        font-weight: 600;
    }
    .text-detail {
        color: #46617B;
    }
    .icon-container {
        font-size: 70px;
        .shield-shape {
            color: #7f8c8d;
            &.asphalt {
                color: #34495e;
            }
            &.red {
                color: #D52349;
            }
        }
        // .shield-shape {
        //     background-color: #7f8c8d;
        //     border-top-left-radius: 5px;
        //     border-top-right-radius: 5px;
        //     position: relative;
        //     padding-left: 20px;
        //     padding-right: 20px;
        //     &:after {
        //         content: '';
        //         position: absolute;
        //         left: 0px; top: 96px;
        //         width: 0;
        //         height: 0;
        //         border-left: 63px solid transparent;
        //         border-right: 63px solid transparent;
        //         border-top: 30px solid #7f8c8d;
        //         padding-bottom: 0px;
        //     }
        //     &.asphalt {
        //         background-color: #34495e;
        //         &:after {
        //             border-top: 30px solid #34495e;
        //         }
        //     }
        //     &.red {
        //         background-color: #D52349;
        //         &:after {
        //             border-top: 30px solid #D52349;
        //         }
        //     }
        // }
    }
    @include media("<=tablet") {
        padding: 45px 20px 40px 20px;
        .text-title {
            font-size: 18px;
        }
        .text-detail {
            font-size: 15px;
        }
        .icon-container {
            margin-top: 45px;
            font-size: 50px;
            .shield-shape {
                margin: 0px 10px 0px 10px;
            }
            .shield-shape {
                &:after {
                    left: -0px;
                    top: 68px;
                }
            }
        }
    }
    @include media(">tablet", "<=desktop") {
        padding: 65px 50px 45px 50px;
        font-weight: 300;
        .text-title {
            font-size: 30px;
        }
        .text-detail {
            font-size: 20px;
        }
        .icon-container {
            margin-top: 75px;
            .shield-shape {
                margin: 0px 5vw 0px 5vw;
            }
        }
    }
    @include media(">desktop") {
        padding: 100px 50px 100px 50px;
        font-weight: 300;
        .text-title {
            font-size: 40px;
        }
        .text-detail {
            font-size: 23px;
        }
        .icon-container {
            margin-top: 100px;
            font-size: 70px;
            .shield-shape {
                margin: 0px 9vw 0px 9vw;
            }
        }
    }*/
}