.main-section {
    font-family: 'Open Sans';
    color: #2c3e50;
    text-align: center;

    box-shadow: 0px -15px 15px -10px rgba(0,0,0,.85);
    -webkit-box-shadow: 0px -15px 15px -10px rgba(0,0,0,.85);
    -moz-box-shadow: 0px -15px 15px -10px rgba(0,0,0,.85);
    background-color: #ecf0f1;
    border-top: 1px solid #2c3e50;

    .wrapper {
        display: inline-block;
    }

    hr {
        border: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2c3e50, rgba(0, 0, 0, 0));
    }

    .text-detail {
        color: #46617B;
    }


    .icon-container {
        margin-top: 100px;
        font-size: 70px;
        color: white;


        .shield-shape {
            background-color: #7f8c8d;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            position: relative;
            padding-left: 20px;
            padding-right: 20px;

            &:after {
                content: '';
                position: absolute;
                left: 0px; top: 96px;
                width: 0;
                height: 0;
                border-left: 63px solid transparent;
                border-right: 63px solid transparent;
                border-top: 30px solid #7f8c8d;
                padding-bottom: 0px;
            }

            &.asphalt {
                background-color: #34495e;

                &:after {
                    border-top: 30px solid #34495e;
                }
            }

            &.red {
                background-color: #D52349;

                &:after {
                    border-top: 30px solid #D52349;
                }
            }
        }
    }


    @include media("<=tablet") {
        padding: 45px 20px 40px 20px;

        .text-title{
            font-size: 18px;
        }

        .text-detail {
            font-size: 15px;
        }

        .icon-container {
            margin-top: 45px;
            font-size: 50px;

            .shield-shape {
                margin: 0px 10px 0px 10px;
            }

            .shield-shape {

                &:after {
                    left: -0px; top: 68px;
                    border-left: 51px solid transparent;
                    border-right: 51px solid transparent;
                    border-top: 20px solid #7f8c8d;
                }

                &.asphalt {
                    background-color: #34495e;

                    &:after {
                        border-top: 20px solid #34495e;
                    }
                }

                &.red {
                    background-color: #D52349;

                    &:after {
                        border-top: 20px solid #D52349;
                    }
                }
            }
        }
    }

@include media(">tablet", "<=desktop") {
    padding: 65px 50px 45px 50px;
    font-weight: 300;

    .text-title {
        font-size: 30px;
        letter-spacing: 0.15em;
    }

    .text-detail {
        font-size: 20px;
    }

    .icon-container {
        margin-top: 75px;

        .shield-shape {
            margin: 0px 5vw 0px 5vw;
        }
    }
}

    @include media(">desktop") {
        padding: 100px 50px 100px 50px;
        font-weight: 300;

        .text-title {
            font-size: 40px;
            letter-spacing: 0.15em;
        }

        .text-detail {
            font-size: 23px;
        }

        .icon-container {
            margin-top: 100px;
            font-size: 70px;

            .shield-shape {
                margin: 0px 9vw 0px 9vw;
            }
        }

    }
}
