.fadeIn {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    opacity: 1;
}

@-webkit-keyframes fadeIn {}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.bounceInRight {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    animation-timing-function: ease-out;
    opacity: 1;
}

@-webkit-keyframes bounceInRight {}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }
    50% {
        transform: translateX(-30px);
    }
    75% {
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.bounceOutLeft {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    animation-timing-function: ease-out;
    opacity: 0;
}

@-webkit-keyframes bounceOutLeft {}

@keyframes bounceOutLeft {
    0% {
        opacity: 1;
    }
    25% {
        transform: translateX(-15px);
    }
    50% {
        opacity: 1;
        transform: translateX(30px)
    }
    100% {
        opacity: 0;
        transform: translateX(-500px);
    }
}



