body {
    margin: 0px;
    padding: 0px;
    background-color: #F7F7F7;
    font-family: 'Open Sans';
}

h1, h2 {
    font-weight: 400;
}

b {
    font-weight: 600; 
}

h1, h2, p {
    font-family: 'Open Sans';
}