div.sidebar { // just a '.sidebar' will also be applied to the sidebar
    position: fixed;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #e9ecef;
    //transform: translateX(-300px);
    transition: all .5s ease;
    overflow-x: hidden;

    &.open {
        //transform: translateX(0px);
        width: 280px;
    }

    .sidebar-top {
        background-color: #495057;
        padding: 20px;
        width: 280px;
        
        .button-container {
            text-align: right;
            
            .circular-button {
                display: inline-block;
            }

            .circular-button + .circular-button {
                margin-left: 5px;
            }
        }
    }
}