.select {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 32;
    
    .exit {
        position: absolute;
        top: 65px;
        right: 5px;
        font-size: 3rem;
        color: #e9ecef;
        cursor: pointer;
        line-height: 3rem;

    }

    & > .wrapper {
        padding-top: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        .title {
           margin-top: -50px;
           font-size: 4.5rem;
           line-height: 4.5rem;
           font-weight: 300;
           color: #e9ecef;
        }
        .options {
            margin-top: 3rem;
            .button {
                font-size: 2.5rem;
            }
        }

        @include media("<tablet") { 
            .title {
                font-size: 1.8rem;
                line-height: 1.8rem;
                font-weight: 400;
            }

            .options {
                margin-top: 2rem;
                .button {
                    margin-left: 50%;
                    transform: translateX(-50%);
                    width: 90%;
                    margin-top: 1rem;
                    display: block;
                    font-size: 2rem;
                }
            }
        }
    }
}