.status-message {
    position: absolute;
    left: 1rem;
    right: 1rem;
    padding: 1rem;
    bottom: 83px;
    text-align: center;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    z-index: 5;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid rgba(0,0,0, 0.8);
}

.status-message-icon {
    position: absolute;
    right: 1rem;
    bottom: 83px;
    font-size: 1.7rem;
    color: #adb5bd;
    z-index: 5;
    cursor: pointer;
    &:hover {
        color: #e64980;
    }
}