.thumbnail {
    position: absolute;
    .circle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background-color: #F8F8F8;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        .image {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
    }
}