.register {
    h2 {
        font-size: 19px;
        letter-spacing: 2.5px;
    }
    a {
        color: #FFA9E8;
        &:hover {
            color: #FF5AD3;
        }
    }
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //    padding-top: 150px;
    color: white;
    width: 700px;
    .box {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border: 1px solid rgba(255, 156, 229, 0.3);
        .title {
            font-size: 23px;
            padding: 25px;
            letter-spacing: 3.5px;
            text-align: center;
        }
        .social {
            padding: 25px;
            //padding-top: 0px;
            .button {
                width: 100%;
            }
            border-bottom: 1px solid rgba(255, 156, 229, 0.3);
        }
        .divider {
            position: relative;
            top: -11px;
            left: 50%;
            font-weight: 800;
            margin: 0px;
            color: white;
            width: 32px;
        }
        .local {
            padding: 25px;
            padding-top: 0px;
            padding-bottom: 20px;

            
            label {
                color: white;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 1.8px;
                padding-bottom: 3px;
            }

            .ui.form .field.error label {
                color: #dc9694;

            }

            .button-container {
                text-align: right;
                .button {
                    margin: 0px;
                }
            }
        }
        .side-message {
            position: absolute;
            font-size: 18px;
            margin-top: -43px;
        }
    }
    @include media("<desktop") {
        .box {}
    }
    @include media("<tablet") {
        width: 90%;
        //padding-top: 80px;
        h2 {
            font-size: 15px;
            letter-spacing: 0px;
        }
        .box {
            .local label {
                font-size: 14px;
                letter-spacing: 1.3px;
                padding-bottom: 3px;
            }
            .side-message {
                text-align: center;
                position: static;
                margin-top: 15px;
            }
            width: 100%;
            .ui.massive.form {
                font-size: 15px;
            }
            .ui.massive.button {
                font-size: 15px;
                width: 100%;
            }
        }
    }
    @include media("<=phone") {
        .box {
            .social,
            .local {
                padding: 20px;
            }
        }
    }
}

