.explore {
    .gray-background {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;        
        background-color: #dee2e6;
        z-index: -1;

    }
    padding-top: 50px;

    

    @import 'LeftBox';
    @import 'Feeds';
    
}