.feeds {
    margin-left: 220px;
    @include media("<tablet") {
        margin-left: 0px;
        width: 100% !important;
    }

    .feed {
        
        width: 33.333%;

        @include media("<desktop") {
            width: 50%;
        }

        @include media("<tablet") {
            width: 100%;
        }

        padding-right: 15px;
        padding-bottom: 15px;
        .feed-content {
            background-color: white;
            border: 1px solid black;
            width: 100%;
        }
    }
}