.left-box {
    transition: width .4s ease;
    background-color: #445055;
    position: fixed;
    width: 200px;
    height: 100vh;
    float: left;
    top: 0px;
    padding-top: 50px;


    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.7);
    
    border-radius: 2px;
    margin-bottom: 20px;


    .recent-visits {
        padding: 10px;
        padding-top: 20px;
        .title {
            color: #f1f3f5;
            font-size: 14px;
            font-weight: 600;  
        }
        .links {
            padding-top: 8px;

            font-size: 16px;
            .link + .link {
                margin-top: 2px;
            }
            a {
                color: #ced4da;

                &:hover {
                    color: #f783ac;
                }
            }
        }
    }
     @include media("<tablet") {
         width: 0px;
     }
}

