.left-box {
    transition: width .4s ease;
    background-color: #445055;
    position: fixed;
    width: 200px;
    height: 100vh;
    float: left;
    top: 0px;
    padding-top: 50px;


    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.7);
    
    border-radius: 2px;
    margin-bottom: 20px;

    .mock-data {
        padding: 15px;
    }

    .empty {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        color: rgba(255,255,255,0.7);
        span {
            margin-top: 4px;
            font-weight: 600;
            font-size: 12px;    
        }
    }

    .links-container {
        padding: 15px;


        .title {
            color: #f1f3f5;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }
        .links {

            span.hashtag {
                color: #868e96;
            }

            padding-top: 5px;

            font-size: 16px;
            .link + .link {
                margin-top: 2px;
            }
            a {
                color: #ced4da;

                &:hover {
                    color: #f783ac;
                }
            }
        }
    }
     @include media("<tablet") {
         width: 0px;
     }
}

