.left-box {
    transition: all .4s ease;
    background-color: #f1f3f5;
    width: 200px;
    height: 500px;
    float: left;
    
    border-radius: 5px;
    margin-bottom: 20px;
     @include media("<tablet") {
         width: 0px;
     }
}

