.user-search {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    top: 25px;
    right: 50px;
    background-color: #f1f3f5;
    width: 500px;
    height: 300px;
    z-index: 100;
}