.box-wrapper {
    .box {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: #f8f9fa;
        .top-bar {
            padding: 1rem;
            background-color: #e9ecef;
            border-bottom: 1px solid #ced4da;
            p {
                margin-bottom: 0px;
            }
        }
        .body {
            padding: 1rem;
        }
    }
}