.my-page {
    margin-top: 50px;
    .title-bar {
        background-color: #212529;
        margin-top: 50px;
        padding-top: 5rem;
        padding-bottom: 5rem;
        color: #f8f9fa;
        text-align: center;

        i {
            color: #868e96;
        }

        .text {
            margin-top: 2rem;
            font-size: 3rem;
            font-weight: 300;
            color: #dee2e6;
            
        }
    }

    .contents {
        background-color: #dee2e6;
        padding-top: 3rem;
        padding-bottom: 3rem;
        
        @import "LeftBar";
        @import "Box";
        @import "Unregister";

    }

    .spin {
        -webkit-animation-name: spin;
        -webkit-animation-duration: 5000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 5000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 5000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}


